.mainContainer {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.headerContainer {
  display: flexbox;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: teal;
  color: white;

  grid-column: 1 / -1;
}

.navigation {
  margin: 10px;
  padding: 20px;
  grid-column: 4 / 6;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.link-button {
}

.barras {
  grid-column: 1 / 2;
}

.pie {
  grid-column: 2 / -1;
}

.select-1 {
  grid-column: 2 / -2;
}
.select-2 {
  grid-column: 2 / -2;
}
.select-3 {
  grid-column: 2 / -2;
}
.select-4 {
  grid-column: 2 / -2;
}

/* .selectsContainer {
  background-color: white;
  display: flexbox;
  align-items: center;
  padding-top: 20px;
  padding-right: 15%;
  padding-left: 15%;
} */

/* .graphicContainer {
  display: flexbox;
  align-items: center;
} */

.graphic {
  display: flexbox;
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 30px;
  /* width: 80vw; */

  grid-column: 2 / 8;
}
