h1 {
  font-family: "Faster One", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin-top: 100px;
}

.mainContainer {
  background-color: black;
  text-align: center;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.form {
  grid-column: 3 / 7;
  grid-row: 1 / -1;
}

.username {
  grid-column: 3 / 7;
}

.password {
  grid-column: 3 / 7;
}

.loginButton {
  grid-column: 4 / 6;
}

form {
  --text-color: #afafaf;
}

.field {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-bottom: 2px dashed var(--text-color);
  margin: 4rem auto 1rem;
  transition: 500ms;
}

.label {
  color: var(--text-color);
  font-size: 1.2rem;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  transition: border 500ms;
}

.input:valid {
  color: yellowgreen;
}

.input:invalid {
  color: orangered;
}

/* Border animation */

.field::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: #d16dff;
  transform: scaleX(0);
  transform-origin: 0%;
  opacity: 0;
  transition: all 500ms ease;
  top: 2px;
}

.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
  opacity: 1;
}

/* Label animation */

.label {
  z-index: -1;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
  opacity: 1;
}

/* Buttons */

button {
  margin-top: 2rem;
  padding: 10px 30px;
  font-weight: bold;
  border: 2px solid greenyellow;
  color: greenyellow;
  border-radius: 100px;
  background: transparent;
  transition: all 0.3s;
  outline: none;
}

button:active {
  transform: translateY(10px);
}
