.mainContainer {
  height: 100vh;
  width: 100vw;

  /* background-color: #dfe6e9; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

@keyframes color-rotate {
  from {
    color: hue-rotate(0deg);
    filter: hue-rotate(0deg);
    background-color: hue-rotate(0deg);
  }
  to {
    color: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    background-color: hue-rotate(360deg);
  }
}

h1 {
  /* font-family: "Faster One", cursive;
  font-weight: 400;
  font-style: normal; */
  font-family: gothic-open-shaded, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1:hover {
  cursor: pointer;
}

.headerContainer {
  display: flexbox;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #151616;
  color: white;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 1);

  grid-column: 1 / -1;

  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.navigation {
  margin: 10px;
  padding: 20px;
  grid-column: 4 / 6;

  display: grid;
  grid-template-columns: 1fr 100px 1fr;
}

a {
  font-weight: 700;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
}

.link-button {
  background-color: #c0392b;
  width: 150px;
  padding: 10px 15px;
  margin: 10px;
  border: 3px solid #c0392b;
  border-radius: 25px;
  text-align: center;
}

.link-button:hover {
  /* background-color: #c0392b; */
  animation: color-rotate 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

.link-button:active {
  transform: translateY(3px);
}

.barras {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: end;
}

.home {
  grid-column: 2 / 3;
  align-self: center;
  justify-self: center;
}

.pie {
  grid-column: 3 / -1;
  align-self: center;
  justify-self: start;
}

.select-1 {
  margin-top: 50px;
  grid-column: 2 / -2;
}
.select-2 {
  grid-column: 2 / -2;
}
.select-3 {
  grid-column: 2 / -2;
}
.select-4 {
  grid-column: 2 / -2;
}

.graphic {
  /* display: flexbox; */
  margin-top: 30px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 30px;
  /* width: 80vw; */

  grid-column: 2 / 8;
  /* grid-row: 7 / -1; */
}
